.invisible {
    display: none;
}

.border {
    border: solid 1px #000000;
}

.shadow {
    background-color: #eeeeee;
}

/*
EmojiSymbols Font (c)blockworks - Kenichi Kaneko
http://emojisymbols.com/
*/
@font-face {
    font-family: "EmojiSymbols";
    src: url('/static/fonts/EmojiSymbols-Regular.woff') format('woff');
    text-decoration: none;
    font-style: normal;
}

.emj {
    font-family: "EmojiSymbols";
    font-size: 100px;
    line-height: 1;
}

td.top-align {
    vertical-align: top;
}

td.centre-align {
    text-align: center;
}

td.counter {
    font-size: 24pt;
}

td.type-name {
    font-size: 20pt;
}

.pointer {
    cursor: pointer;
}

.not-reviewed {
    color: #ee0000;
}

.map {
    border: 0px;
    height: 100px;
}

.zero-counter {
    color: #000000;
    text-decoration: none;
}