<%inherit file="_layout.html" />

<div class="invisible new-button-template">
    <form class="event-form">

        <div class="four columns">
            <input type="hidden" name="type_uuid" value="">
            <input type="hidden" name="name" value="">
            <input type="hidden" name="icon" value="">
            <input type="hidden" name="icon_colour" value="">

            <input type="hidden" name="latitude" value="">
            <input type="hidden" name="longitude" value="">

            <table>
                <tbody>
                    <tr>
                        <td class="centre-align type-name">
                            N/A
                        </td>
                    </tr>
                    <tr>
                        <td class="centre-align">
                            <span class="emj pointer"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="centre-align counter">
                            <a class="view-events" href="">N/A</a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </form>
</div>

<div class="container">
    <h1>What has happened?</h1>

    <h2>Was it a new thing?</h2>

    <div class="instant-event-list"></div>

    <h2>Already happened before?</h2>

    <div class="existing-event-list"></div>
</div>

<script src="/static/js/counter.js"></script>
