<%inherit file="_layout.html" />

<script>
    var typeUuid = '${type_uuid}';
    var apiKey = '${api_key}';
</script>

<div class="container event-list">
    <h3>Review events</h3>
    % for event in events:
        <form class="event-form">
            <input type="hidden" name="event_id" value="${event.id}">
            <input type="hidden" name="type_uuid" value="${event.type_uuid}">

            <h4>${event.type.name} on ${event.date.strftime('%b %d, %H:%M')}</h4>

            <table class="u-full-width">
                <tr>
                    <td class="top-align">
                        <span class="emj" style="color: ${event.type.icon_colour}">${event.type.icon}</span>
                    </td>
                    <td>
                        <div class="row">
                            <div class="three columns">
                                <label>Comment:</label>
                            </div>
                            <div class="nine columns">
                                <input type="text" class="u-full-width" name="comment" value="${event.comment}">
                            </div>
                        </div>
                        % if (event.latitude is not None) and (event.longitude is not None):
                            <div class="row">
                                <div class="twelve columns">
                                    <iframe class="u-full-width map" src="https://www.google.com/maps/embed/v1/place?key=${api_key}&q=${event.latitude},+${event.longitude}" allowfullscreen></iframe>
                                </div>
                            </div>
                        % endif

                        <div class="row">
                            <div class="six columns">&nbsp;</div>
                            <div class="three columns">
                                <input type="button" class="button-primary update-event" value="Update">
                            </div>
                            <div class="three columns">
                                <input type="button" class="delete-event" value="Delete">
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    % endfor
</div>


<script src="/static/js/events.js"></script>