<%inherit file="_layout.html" />

<script src="/static/js/lib/zingchart.min.js"></script>
<script>zingchart.MODULESDIR="/static/js/lib/";</script>

<script>
    var calendarValues = ${calendar_values};
    var chartValues = ${chart_values};
</script>

<div class="container">
    <h3>Chart view</h3>

    <div id="chart-view"></div>

    <h3>Calendar view</h3>

    <div id="calendar-view"></div>
</div>

<script src="/static/js/graphs.js"></script>