<%inherit file="_layout.html" />

<!-- a draft from which type blocks are generated -->
<div class="invisible new-type-template">
    <form class="type-form">
        <table class="type-container u-full-width">
            <tbody>
                <tr>
                    <td class="top-align">
                        <span class="emj"></span>
                    </td>
                    <td>
                        <input type="hidden" name="type_uuid" value="">
                        <input type="hidden" name="reviewed" value="1">

                        <div class="row">
                            <div class="three columns">
                                <label>Thing name:</label>
                            </div>
                            <div class="nine columns">
                                <input class="u-full-width" type="text" name="name" value="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="three columns">
                                <label>Parent group:</label>
                            </div>
                            <div class="nine columns">
                                <select class="u-full-width" name="parent_uuid">
                                    <option value="">Top level</option>
                                    % for type in types:
                                        <option value="${type.uuid}">${type.name}</option>
                                    %endfor
                                </select>
                            </div>
                        </div>

                         <div class="row">
                            <div class="three columns">
                                <label>Icon:</label>
                            </div>
                             <div class="three columns">
                                 <input class="u-full-width" type="text" name="icon" value="">
                             </div>
                             <div class="three columns">
                                 <label>Colour:</label>
                             </div>
                             <div class="three columns">
                                 <input class="u-full-width" type="text" name="icon_colour" value="">
                             </div>
                        </div>

                        <div class="row">
                            <div class="three columns">&nbsp;</div>
                            <div class="three columns">
                                <input type="button" class="button-primary update-type" value="Update">
                            </div>
                            <div class="three columns">
                                <input type="button" class="delete-type" value="Delete">
                            </div>
                            <div class="three columns">
                                <a class="button view-events" href="">Events</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

    <hr />
</div>

<!-- list of existing types -->
<div class="container type-list">
    <h2>Categorise things happening</h2>

    <!-- existing types will be loaded here -->
</div>

<!-- creating a new type -->
<div class="container">
    <h2>Add a new group</h2>

        <form class="type-form">
            <input type="hidden" name="reviewed" value="1">

            <div class="row">
                <div class="three columns">
                    <label>What is it for:</label>
                </div>
                <div class="nine columns">
                    <input class="u-full-width" type="text" name="name" value="">
                </div>
            </div>

            <div class="row">
                <div class="three columns">
                    <label>Is it a subgroup?</label>
                </div>
                <div class="nine columns">
                    <select class="u-full-width" name="parent_uuid">
                        <!-- @todo: options should be loaded and updated dynamically -->
                        <option value="">Top level</option>
                        % for type in types:
                            <option value="${type.uuid}">${type.name}</option>
                        %endfor
                    </select>
                </div>
            </div>

             <div class="row">
                <div class="three columns">
                    <label>Icon:</label>
                </div>
                 <div class="three columns">
                     <input class="u-full-width" type="text" name="icon" value="">
                 </div>
                 <div class="three columns">
                     <label>Colour:</label>
                 </div>
                 <div class="three columns">
                     <input class="u-full-width" type="text" name="icon_colour" value="">
                 </div>
            </div>

            <div class="row">
                <div class="three columns">&nbsp;</div>
                <div class="six columns">
                    <input type="button" class="button-primary create-type" value="Create">
                </div>
            </div>

        </form>
    </div>
</div>

<script src="/static/js/types.js"></script>
